<footer>
    <div class="container">
        <!-- Columna 1 -->
        <div class="column">
            <h3>Columna 1</h3>
            <ul>
                <li><a href="#" routerLink="home">Inicio</a></li>
                <li><a href="#" routerLink="/contacto">Contacto</a></li>
                <li><a href="#" routerLink="/nuevo">Nuevo</a></li>
            </ul>
        </div>
        <!-- Columna 2 -->
        <div class="column">
            <h3>Columna 2</h3>
            <ul>
                <li>Enlace 1</li>
                <li>Enlace 2</li>
                <li>Enlace 3</li>
            </ul>
        </div>
        <!-- Columna 3 -->
        <div class="column">
            <h3>Columna 3</h3>
            <ul>
                <li>Enlace 1</li>
                <li>Enlace 2</li>
                <li>Enlace 3</li>
            </ul>
        </div>
    </div>
</footer>

